# Local configuration files
config.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.csv

# Stray pip version files (sometimes created by pip)
==*

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Local engagement folders (if testing locally)
Engagements/
